@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html[data-theme="dark"] {
  --background: #0f172a;
  --foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
}
